<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.2"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background-color: #ddd;
        margin: 20px;
        display: inline-block;
      }
      .far {
        color: rgb(0, 200, 100);
      }
      .active {
        background-color: beige;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div v-if="show">
        <!-- <h2>title: {{title}}, author: {{author}}, age: {{age}}</h2> -->
        <ul>
          <li
            v-for="city in filteredCities"
            :class="{far: city.isFar}"
            @click="toggleFar(city)"
          >
            <span>{{city.country}}</span> <span>{{city.capital}}</span> -
            {{city.continent}} <a :href="city.website">City website</a>
          </li>
        </ul>
        <button v-on:click="age=age+1">Increase age by one</button>
        <button @click="age=age-1">Decrease age by one</button>
        <button @click="changeTitle('Bio')">Change the Title</button>
        <input type="text" ref="name" />
        <button @click="handleQlik">click to test</button>
      </div>
      <button @click="toggleShow">
        <span v-if="show">Hide Books</span>
        <span v-else>Show Books</span>
      </button>

      <br />
      <!-- mouse events -->
      <div class="box" @mouseover="handleEvent($event, 5)">mouseover</div>
      <div class="box" @mouseleave="handleEvent">mouseleave</div>
      <div class="box" @dblclick="handleEvent">double click</div>
      <div class="box" @mousemove="handleMouseMove">position: {{x}},{{y}}</div>

      <div v-show="show">Check devtool</div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
