<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.2"></script>
  </head>
  <body>
    <div id="app">
      <div v-if="show">
        <h2>title: {{title}}, author: {{author}}, age: {{age}}</h2>
        <button v-on:click="age=age+1">Increase age by one</button>
        <button @click="age=age-1">Decrease age by one</button>
        <button @click="changeTitle('Bio')">Change the Title</button>
      </div>
      <button @click="toggleShow">
        <span v-if="show">Hide Books</span>
        <span v-else>Show Books</span>
      </button>
      <div v-show="show">Check devtool</div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
